.loading-container{
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    h3{
        color: white;
    }
}
.circle-container{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loading-container 
.white-circle,
.black-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.white-circle{
    background-color: white;
}
.black-circle{
    background-color: rgb(20, 20, 20);
    position: absolute;
    animation-name: blk;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0%;
    left: -100%;
}
@keyframes blk{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
